/* cart styling */

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart ul {
    width: 100%;
    margin-bottom: 1rem;
}

.cart ul li {
    display: flex;
    align-items: center;
}

.cart ul li .cart-item-info {
    display: flex;
    align-items: center;
    width: 50%;
}

.cart ul li .cart-item-info img {
    width: 40%;
    height: 5rem;
    border-radius: 10px;
    object-fit: cover;
}

.cart ul li .cart-item-info figcaption {
    width: 60%;
    margin-left: 1rem;
}

.cart ul li .cart-item-info figcaption h1 {
    font-size: 1rem !important;
    margin: 0;
}

.cart ul li .cart-item-qt {
    display: flex;
    width: 25%;
    align-items: center;
}

.cart ul li .cart-item-qt .btn {
    padding: .7rem 1rem;
}

.cart ul li .cart-item-qt strong {
    margin: 0 1rem;
    font-weight: 400;
}

.cart ul li .cart-item-total {
    width: 25%;
    text-align: right;
    font-weight: 700;
}

.cart aside {
    padding: 1.5rem 2rem;
    width: 100%;
    border: 1px solid rgba(29, 29, 29, 0.15);
    border-radius: 20px;
}

.cart aside #cart-summary-total {
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 1rem;
    color: #000;
}

.cart aside textarea {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: .5rem;
}

.cart aside a {
    display: block;
    width: 100%;
    text-align: center;
}