/* Contact Form Styling */

.contactForm{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: #EDF1DF;
    text-align: center;
}


.contactForm input[type=text]{
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    border: 1px solid;

}

#contactMessage{
    width: 45%;
    height: 10rem;
}
