/* Contact Form Styling */

.contactForm {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--very-light-green);
    text-align: center;
    margin-bottom: 0;
    width: 100%;
}


.contactForm input[type=text]{
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid var(--light-green);

}

.contactForm h2 {
    margin-bottom: 2vh;
}

.contactForm label {
    margin-bottom: .75vh;
}

textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-green);
}

textarea:focus, textarea:active {
    outline: none;
    border: 1px solid var(--dark-green);
}

#contactMessage {
    width: 45%;
    height: 10rem;
}

.contactForm .form-duo-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactForm .form-duo-row span {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh; 
}

.thanks-message {
    text-align: center;
}