/* Large screens (Laptops, 1024px and up) */
@media only screen and (min-width: 1024px) {

    /* padding + margins */
    .margin-left {
        margin-left: var(--margin-laptop);
    }

    .px {
        padding-left: var(--margin-laptop);
        padding-right: var(--margin-laptop);
    }

    /* text */
    p {
        font-size: 1.25rem;
    }

    /* buttons */
    .btn {
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 3rem;
        border-radius: 28px;
    }

    /* promo */
    .promotion-bar p {
        font-size: 1rem;
    }

    .promotion-window {
        width: 30vw;
    }

    .promotion-window-details {
        padding: var(--margin-laptop);
    }

    /* hero image */
    .hero-content {
        margin-top: 25vh;
        width: 100%;
        padding-left: var(--margin-laptop);
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        width: 40%;
        font-size: 1.25rem;
    }


    /* navigation bar */
    nav {
        padding: var(--margin-laptop);
    }

    .site-title {
        font-size: 2rem;
        font-weight: 700;
    }

    .nav-links {
        display: block;
    }

    .nav-links-wrapper {
        display: flex;
        flex-direction: row;
    }

    .nav-links-wrapper li {
        margin-right: 2rem;
        font-weight: 600;
    }

    .nav-links-wrapper li:last-of-type {
        margin-right: 0;
    }

    .nav-socials {
        display: none;
    }

    .nav-btn-menu {
        display: none;
    }

    .nav-cart-wrapper {
        display: flex;
        align-items: center;
    }

    .nav-cart-label {
        display: block;
    }

    .nav-cart-icon {
        width: 18px;
        height: 18px;
    }

    .nav-cart-quantity {
        top: -90%;
        right: -90%;
        font-size: 12px;
        width: 24px;
        height: 24px;
    }

    /* main content */

    main section h1 {
        font-size: 28px;
        font-weight: 700;
    }

    main section p {
        font-size: 1rem;
        font-size: 1.25rem;
        letter-spacing: .4px;
    }

    main section p.small-para {
        width: 50%;
    }

    /* home */

    .video-home {
        padding: 0 var(--margin-laptop);
    }

    /* shop: product listing */
    .products>figure {
        width: 33%;
    }

    /* product details */
    .product-container {
        display: flex;
        padding: var(--margin-laptop);
    }

    .product-container img {
        width: 50%;
    }

    .product-container .product-info {
        width: 50%;
        margin-left: 3vw;
    }

    .product-container .product-info .product-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vh;
    }

    /* cart */
    .cart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cart ul {
        padding: 1.5rem 2rem;
        width: 59%;
        border: 1px solid rgba(29, 29, 29, 0.15);
        margin: 0;
        border-radius: 20px;
    }

    .cart ul li {
        display: flex;
        align-items: center;
    }

    .cart ul li .cart-item-info {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .cart ul li .cart-item-info img {
        width: 40%;
        height: 15vh;
        border-radius: 10px;
        object-fit: cover;
    }

    .cart ul li .cart-item-info figcaption {
        width: 60%;
        margin-left: 1rem;
    }

    .cart ul li .cart-item-info figcaption h1 {
        font-size: 1rem !important;
        margin: 0;
    }

    .cart ul li .cart-item-qt {
        display: flex;
        width: 25%;
        align-items: center;
    }

    .cart ul li .cart-item-qt .btn {
        padding: .7rem 1rem;
    }

    .cart ul li .cart-item-qt strong {
        margin: 0 1rem;
        font-weight: 400;
    }

    .cart ul li .cart-item-total {
        width: 25%;
        text-align: right;
        font-weight: 700;
    }

    .cart aside {
        padding: 1.5rem 2rem;
        width: 39%;
        border: 1px solid rgba(29, 29, 29, 0.15);
        border-radius: 20px;
    }

    .cart aside #cart-summary-total {
        font-size: 2.5rem;
        font-weight: 800;
        margin-top: 1rem;
        color: #000;
    }

    .cart aside textarea {
        width: 100%;
        margin-bottom: 1.5rem;
        padding: .5rem;
    }

    .cart aside button {
        width: 100%;
    }

    /* checkout */
    .checkout {
        flex-direction: row;
        justify-content: space-between;
    }

    .checkout section {
        width: 48%;
    }

    /* footer */
    footer {
        padding: var(--margin-laptop);
    }

}

/* Largest screens and up (Desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {

    /* padding + margins */
    .margin-left {
        margin-left: var(--margin-desktop);
    }

    .px {
        padding-left: var(--margin-desktop);
        padding-right: var(--margin-desktop);
    }

    /* hero image */
    .hero {
        height: 100vh;
        max-height: 100vh;
    }

    .hero-bg {
        background-image: linear-gradient(to right, rgba(46, 56, 44, 0.6), rgba(46, 56, 44, 0.65)), url("../images/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg");
    }

    .hero-content {
        margin-top: 20vh;
        width: 100%;
        padding-left: var(--margin-desktop);
    }

    .hero-content h1 {
        width: 60%;
        font-size: 4vw;
    }

    .hero-content p {
        width: 70%;
        font-size: 1vw;
        margin-bottom: 3vh;
    }

    /* navigation */
    nav {
        padding: var(--margin-desktop);
    }

    /* main */
    main section p.small-para {
        width: 35%;
    }

    main section {
        margin-bottom: 15vh;
    }

    main section h1 {
        font-size: 48px;
    }

    .video-home {
        padding: 0 var(--margin-desktop);
    }

    /* product details */
    .product-container {
        padding: var(--margin-desktop);
    }

    .product-container img {
        width: 50%;
        height: 80vh;
    }

    .product-container .product-info {
        width: 50%;
        margin-left: 1.5vw;
    }

    .product-container .product-info .product-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vh;
    }

    .product-container .product-info .product-title-wrapper .product-title {
        font-size: 3rem;
    }

    .product-container .product-info .product-title-wrapper .product-price {
        font-size: 2.5rem;
    }

    .product-info .btn-right {
        display: flex;
        justify-content: flex-end;
    }

    .product-info .btn-right .btn {
        width: auto;
        padding: 1rem 2.5rem;
    }

    /* footer */
    footer {
        padding: var(--margin-desktop);
    }

    .marquee figure {
        width: 15vw;
        height: 45vh;
    }

    .marquee figcaption h1 {
        font-size: 1.25rem;
    }

    .marquee figcaption p {
        font-size: 1rem;
    }
}