.faq {
    margin-bottom: 5vh;
}

.faq h1 {
   margin: 1rem var(--margin-mobile);
}

.last-FAQ-message {
    font-family: var(--heading-font);
    font-weight: bold;
    line-height: 1.4;
}

.faq-split {
    margin-bottom: 5vh;
}

.faq-split .faq-title {
    margin-bottom: 3vh;
}

.accordion {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 1.1rem;
    width: 100%;
    text-align: left;
    outline: none;
    transition: all 0.4s;
    display: flex;
    justify-content: space-between;
    background: none;
    border-bottom: 1px solid var(--dark-gray);
}

.accordion:last-of-type {
    border-bottom: none;
}

.accordion-inner {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-inner p {
    padding-top: 1rem;
}

.faq-message p {
    padding: 0 var(--margin-mobile);
}