* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Contact Form Styling */

.contactForm{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: #EDF1DF;
    text-align: center;
    display: block;
}


#contactMessage{
    width: 45%;
    height: 10rem;
    box-sizing: border-box;
    padding-top: 1rem;
    padding-left: 1rem;

}

/* fonts */
@font-face {
    font-family: "Open Sauce Sans";
    src: url("../fonts/OpenSauceSans-Regular.ttf");
}

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-Variable.ttf");
}

/* variables */
:root {

    /* colors */
    --dark-gray: #1A1A1A;
    --dark-green: #2E382C;
    --dark-beige: #e9e8db;
    --light-green: #2e382c62;
    --light-beige: #F6F5ED;

    /* font styles */
    --body-font: "Open Sauce Sans", sans-serif;
    --heading-font: "Satoshi", sans-serif;

    /* horizontal margins */
    --margin-mobile: 1.3rem;
    --margin-laptop: 2.5rem;
    --margin-desktop: 3rem;
}

/* resets */
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--dark-gray);
}

p {
    margin: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

figure {
    margin-left: 0;
}

/* general */
body {
    font-family: "Open Sauce Sans", sans-serif;
    background-color: var(--light-beige);
    font-size: 1rem;
    color: var(--dark-gray);
    overflow-x: hidden;
}

p {
    letter-spacing: .4px;
}

h1 {
    font-family: var(--heading-font);
    letter-spacing: -1px;
}

::selection {
    background: var(--light-green);
}

/* add margins and padding */
.margin-left {
    margin-left: var(--margin-mobile);
}

.margin-top {
    margin-top: 13vh;
}

.margin-bottom {
    margin-bottom: 5vh;
}

.px {
    padding-left: var(--margin-mobile);
    padding-right: var(--margin-mobile);
}

.spacer-top {
    height: 13vh;
}

/* underline link effect */
.un {
    display: inline-block;
    position: relative;
}

.un::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: var(--dark-gray);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.un:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* buttons */
.btn {
    border-radius: 20px;
    border: 1px solid var(--dark-green);
    background-color: var(--light-beige);
    padding: 1vh 2.5vh;
    font-size: .7rem;
    text-transform: uppercase;
    color: var(--dark-green);
    transition: all .3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--dark-green);
    color: var(--light-beige);
}

.dark-btn {
    background-color: var(--dark-green);
    color: var(--light-beige);
}

.dark-btn:hover {
    background-color: var(--light-beige);
    color: var(--dark-green);
}

/* header */
header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
}

/* promotion window */
.promotion-overlay {
    display: none;
    position: fixed;
    z-index: 999998;
    background: black;
    opacity: .6;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.promotion-window {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 999999;
    background-color: var(--light-beige);
    border-radius: 1rem;
    width: 90vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: clip;
    justify-content: space-between;
}

.promotion-window img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    filter: brightness(90%);
}

.promotion-window-details {
    padding: 1rem;
}

.promotion-window-details h1 {
    margin-bottom: 2vh;
}

.promotion-window-details p {
    margin-bottom: 2vh;
}

.promotion-window-details input {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2vh;
    border: 1px solid var(--light-green);
    padding: 1rem;
}

.promotion-window-details input:focus,
input:active {
    border: 1px solid var(--dark-green);
    outline: none;
}

.promotion-subscribe {
    width: 100%;
    background-color: var(--dark-green);
    color: var(--light-beige);
    cursor: pointer;
}

.promotion-subscribe:hover {
    background-color: var(--light-beige);
    color: var(--dark-green);
}

.promotion-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 3rem;
    height: 3rem;
    fill: var(--dark-green);
    cursor: pointer;
}

/* promotion bar */

.promotion-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-gray);
    padding: var(--margin-mobile);
    height: 6vh;
}

.promotion-bar p {
    font: var(--body-font);
    color: var(--light-beige);
    text-transform: uppercase;
    font-size: .6rem;
    text-align: center;
    line-height: 1.1;
    font-weight: 600;
    cursor: pointer;
}

/* header - navigation */
nav {
    background-color: var(--light-beige);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--margin-mobile);
    border-bottom: 1px solid var(--dark-gray);
    height: 7vh;
    position: relative;
}

.site-title {
    color: var(--dark-gray);
    font-family: var(--heading-font);
    letter-spacing: -1px;
    font-size: 1.25rem;
}

.mobile-menu-wrapper {
    display: flex;
    align-items: center;
}

.nav-links {
    display: none;
    margin: 0;
}

.nav-links-fade {
    opacity: 0;
    animation: fade .5s ease-in-out forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav-expanded {
    /* mobile menu */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100vw;
    background-color: var(--light-beige);
    animation: menuSlide .3s ease-in-out forwards;
}

.nav-expanded li a {
    display: block;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--dark-gray);
    padding: var(--margin-mobile);
    transition: background .3s ease-in-out;
}

.nav-expanded li a:hover {
    background: var(--dark-green);
    color: var(--light-beige);
}

.nav-socials {
    display: flex;
    justify-content: flex-end;
    padding: var(--margin-mobile);
}

.nav-socials li a {
    border: 0;
    padding: 0;
    margin-left: .5rem;
}

.nav-socials li a svg {
    fill: var(--dark-green);
}

@keyframes menuSlide {
    0% {
        height: 0;
    }

    100% {
        height: 87vh;
    }
}

#nav-cart-wrapper {
    display: flex;
}

.nav-cart {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 1.5rem;
}

.nav-cart-label {
    display: none;
    font-weight: 600;
    margin-right: .25rem;
}

.nav-cart-icon {
    fill: var(--dark-gray);
    width: 1rem;
}

.nav-cart-quantity {
    position: absolute;
    top: -30%;
    right: -60%;
    background: var(--dark-green);
    color: var(--light-beige);
    font-size: 8px;
    width: 15px;
    height: 15px;
    display: flex;
    line-height: 1;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.nav-btn-menu {
    fill: var(--dark-gray);
    width: 24px;
    height: 24px;
}

.nav-btn-x {
    display: none;
    fill: var(--dark-gray);
    width: 24px;
    height: 24px;
}

/* hero image */
.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-height: 1100px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.hero-short {
    height: 60vh !important;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(46, 56, 44, 0.6), rgba(46, 56, 44, 0.65)), url("../images/header-image-mobile.jpg");
    background-size: cover;
    background-position: right;
    transform: translateZ(0);
    z-index: -1;
}

.hero-content {
    margin-top: 45vh;
    padding-left: var(--margin-mobile);
}

.hero-content h1 {
    width: 75%;
    color: var(--light-beige);
    font-weight: 600;
    margin-bottom: 1vh;
}

.hero-content p {
    width: 70%;
    line-height: 1.3;
    font-size: 12px;
    color: var(--light-beige);
    font-weight: 400;
    margin-bottom: 3vh;
}

/* main */
main section {
    margin-top: 5vh;
    margin-bottom: 10vh;
}

main section:last-of-type {
    margin-bottom: 5vh;
}

main section h1 {
    font-size: 24px;
    letter-spacing: -.48px;
    font-weight: 700;
    margin-bottom: 1.5vh;
}

main section p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .32px;
    margin-bottom: 1.5vh;
}

/* home: marquee image section */
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee figure {
    width: 100vw;
    height: 60vh;
    display: inline-block;
    margin-right: 3px;
    animation: marquee 7s linear infinite;
}

.marquee figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    transition: filter .5s ease;
}

.marquee figure img:hover {
    filter: brightness(75%);
}

.marquee figcaption h1 {
    font-family: var(--body-font);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .25rem;
}

.marquee figcaption p {
    font-family: var(--body-font);
    font-size: .8rem;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* home: video */
.video-home {
    margin-top: 5vh;
    width: 100%;
}

/* products listing (multiple) */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.products>figure {
    width: 100%;
    border: 1px solid var(--light-green);
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
    margin-bottom: 4%;
}

.products img {
    object-fit: cover;
    width: 100%;
    height: 40vh;
    transition: opacity .2s ease-in-out;
}

.products img:hover {
    opacity: .85;
}

.products>figure a {
    display: inline-block;
}

.products>figure a h1 {
    margin: 0;
    font-size: 2rem !important;
}

.products figcaption {
    padding: 1rem;
}

.products figure button {
    width: 100%;
}

/* product detail page */
.product-container img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.product-container .product-info {
    padding: var(--margin-mobile);
}

.product-container .product-info .product-title {
    margin-bottom: 1vh;
}

.product-container .product-info .product-price {
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1vh;
}

.product-container .product-info .product-desc {
    margin-bottom: 5vh;
}

.product-container .product-info .product-desc h1 {
    font-family: var(--body-font);
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 1vh;
    letter-spacing: .2px;
}

.product-container .product-info .product-desc p {
    line-height: 1.4;
    margin-bottom: 2vh;
}

.product-container .product-info .btn {
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
}

/* cart */
.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart ul {
    width: 100%;
    margin-bottom: 1rem;
}

.cart ul li {
    display: flex;
    align-items: center;
}

.cart ul li .cart-item-info {
    display: flex;
    align-items: center;
    width: 50%;
}

.cart ul li .cart-item-info img {
    width: 40%;
    height: 5rem;
    border-radius: 10px;
    object-fit: cover;
}

.cart ul li .cart-item-info figcaption {
    width: 60%;
    margin-left: 1rem;
}

.cart ul li .cart-item-info figcaption h1 {
    font-size: 1rem !important;
    margin: 0;
}

.cart ul li .cart-item-qt {
    display: flex;
    width: 25%;
    align-items: center;
}

.cart ul li .cart-item-qt .btn {
    padding: .7rem 1rem;
}

.cart ul li .cart-item-qt strong {
    margin: 0 1rem;
    font-weight: 400;
}

.cart ul li .cart-item-total {
    width: 25%;
    text-align: right;
    font-weight: 700;
}

.cart aside {
    padding: 1.5rem 2rem;
    width: 100%;
    border: 1px solid rgba(29, 29, 29, 0.15);
    border-radius: 20px;
}

.cart aside #cart-summary-total {
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 1rem;
    color: #000;
}

.cart aside textarea {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: .5rem;
}

.cart aside a {
    display: block;
    width: 100%;
    text-align: center;
}

/* checkout */
.checkout {
    display: flex;
    flex-direction: column;
}

.checkout section {
    margin: 0;
    width: 100%;
}

.checkout section h1 {
    margin: 0;
    font-size: 1.5rem;
}

.checkout section h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.checkout section input {
    width: 100%;
    color: var(--dark-gray);
    padding: .8rem;
    border-radius: 10px;
    border: 1px solid var(--light-green);
}

.checkout section p.form-duo-row {
    display: flex;
    justify-content: space-between;
}

.checkout section p.form-duo-row span {
    width: 47%;
}

.checkout-confirm {
    text-align: right;
}

/* footer */
footer {
    margin-top: 5vh;
    border-top: 1px solid var(--dark-green);
    padding: var(--margin-mobile);
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/* RESPONSIVE STYLES */

/* Medium screens (Tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large screens (Laptops, 1024px and up) */
@media only screen and (min-width: 1024px) {

    /* padding + margins */
    .margin-left {
        margin-left: var(--margin-laptop);
    }

    .px {
        padding-left: var(--margin-laptop);
        padding-right: var(--margin-laptop);
    }

    /* text */
    p {
        font-size: 1.25rem;
    }

    /* buttons */
    .btn {
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 3rem;
        border-radius: 28px;
    }

    /* promo */
    .promotion-bar p {
        font-size: 1rem;
    }

    .promotion-window {
        width: 30vw;
    }

    .promotion-window-details {
        padding: var(--margin-laptop);
    }

    /* hero image */
    .hero-content {
        margin-top: 25vh;
        width: 100%;
        padding-left: var(--margin-laptop);
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        width: 40%;
        font-size: 1.25rem;
    }


    /* navigation bar */
    nav {
        padding: var(--margin-laptop);
    }

    .site-title {
        font-size: 2rem;
        font-weight: 700;
    }

    .nav-links {
        display: block;
    }

    .nav-links-wrapper {
        display: flex;
        flex-direction: row;
    }

    .nav-links-wrapper li {
        margin-right: 2rem;
        font-weight: 600;
    }

    .nav-links-wrapper li:last-of-type {
        margin-right: 0;
    }

    .nav-socials {
        display: none;
    }

    .nav-btn-menu {
        display: none;
    }

    .nav-cart-wrapper {
        display: flex;
        align-items: center;
    }

    .nav-cart-label {
        display: block;
    }

    .nav-cart-icon {
        width: 18px;
        height: 18px;
    }

    .nav-cart-quantity {
        top: -90%;
        right: -90%;
        font-size: 12px;
        width: 24px;
        height: 24px;
    }

    /* main content */

    main section h1 {
        font-size: 28px;
        font-weight: 700;
    }

    main section p {
        font-size: 1rem;
        font-size: 1.25rem;
        letter-spacing: .4px;
    }

    main section p.small-para {
        width: 50%;
    }

    /* home */

    .video-home {
        padding: 0 var(--margin-laptop);
    }

    /* shop: product listing */
    .products>figure {
        width: 33%;
    }

    /* product details */
    .product-container {
        display: flex;
        padding: var(--margin-laptop);
    }

    .product-container img {
        width: 50%;
    }

    .product-container .product-info {
        width: 50%;
        margin-left: 3vw;
    }

    .product-container .product-info .product-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vh;
    }

    /* cart */
    .cart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cart ul {
        padding: 1.5rem 2rem;
        width: 59%;
        border: 1px solid rgba(29, 29, 29, 0.15);
        margin: 0;
        border-radius: 20px;
    }

    .cart ul li {
        display: flex;
        align-items: center;
    }

    .cart ul li .cart-item-info {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .cart ul li .cart-item-info img {
        width: 40%;
        height: 15vh;
        border-radius: 10px;
        object-fit: cover;
    }

    .cart ul li .cart-item-info figcaption {
        width: 60%;
        margin-left: 1rem;
    }

    .cart ul li .cart-item-info figcaption h1 {
        font-size: 1rem !important;
        margin: 0;
    }

    .cart ul li .cart-item-qt {
        display: flex;
        width: 25%;
        align-items: center;
    }

    .cart ul li .cart-item-qt .btn {
        padding: .7rem 1rem;
    }

    .cart ul li .cart-item-qt strong {
        margin: 0 1rem;
        font-weight: 400;
    }

    .cart ul li .cart-item-total {
        width: 25%;
        text-align: right;
        font-weight: 700;
    }

    .cart aside {
        padding: 1.5rem 2rem;
        width: 39%;
        border: 1px solid rgba(29, 29, 29, 0.15);
        border-radius: 20px;
    }

    .cart aside #cart-summary-total {
        font-size: 2.5rem;
        font-weight: 800;
        margin-top: 1rem;
        color: #000;
    }

    .cart aside textarea {
        width: 100%;
        margin-bottom: 1.5rem;
        padding: .5rem;
    }

    .cart aside button {
        width: 100%;
    }

    /* checkout */
    .checkout {
        flex-direction: row;
        justify-content: space-between;
    }

    .checkout section {
        width: 48%;
    }

    /* footer */
    footer {
        padding: var(--margin-laptop);
    }

}

/* Largest screens and up (Desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {

    /* padding + margins */
    .margin-left {
        margin-left: var(--margin-desktop);
    }

    .px {
        padding-left: var(--margin-desktop);
        padding-right: var(--margin-desktop);
    }

    /* hero image */
    .hero {
        height: 100vh;
        max-height: 100vh;
    }

    .hero-bg {
        background-image: linear-gradient(to right, rgba(46, 56, 44, 0.6), rgba(46, 56, 44, 0.65)), url("../images/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg");
    }

    .hero-content {
        margin-top: 20vh;
        width: 100%;
        padding-left: var(--margin-desktop);
    }

    .hero-content h1 {
        width: 60%;
        font-size: 4vw;
    }

    .hero-content p {
        width: 70%;
        font-size: 1vw;
        margin-bottom: 3vh;
    }

    /* navigation */
    nav {
        padding: var(--margin-desktop);
    }

    /* main */
    main section p.small-para {
        width: 35%;
    }

    main section {
        margin-bottom: 15vh;
    }

    main section h1 {
        font-size: 48px;
    }

    .video-home {
        padding: 0 var(--margin-desktop);
    }

    /* product details */
    .product-container {
        padding: var(--margin-desktop);
    }

    .product-container img {
        width: 50%;
        height: 80vh;
    }

    .product-container .product-info {
        width: 50%;
        margin-left: 1.5vw;
    }

    .product-container .product-info .product-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vh;
    }

    .product-container .product-info .product-title-wrapper .product-title {
        font-size: 3rem;
    }

    .product-container .product-info .product-title-wrapper .product-price {
        font-size: 2.5rem;
    }

    .product-info .btn-right {
        display: flex;
        justify-content: flex-end;
    }

    .product-info .btn-right .btn {
        width: auto;
        padding: 1rem 2.5rem;
    }

    /* footer */
    footer {
        padding: var(--margin-desktop);
    }

    .marquee figure {
        width: 15vw;
        height: 45vh;
    }

    .marquee figcaption h1 {
        font-size: 1.25rem;
    }

    .marquee figcaption p {
        font-size: 1rem;
    }
}